<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 

        <!-- Nome que será exibido na aba do navegador -->
        <title>Condomínio Personalizado</title>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.maskedinput.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function startTime(){
                var today=new Date();
                var h=today.getHours();
                var m=today.getMinutes();
                var d=today.getDate();
                var mo=today.getMonth();
                var y=today.getFullYear();
                // adiciona um zero na frente de números<10
                h=checkTime(h);
                m=checkTime(m);
                d=checkTime(d);
                mo=mo+1;
                mo=checkTime(mo);
                document.getElementById('hora').innerHTML=h+":"+m;
                document.getElementById('data').innerHTML=d+"/"+mo+"/"+y;
                t=setTimeout('startTime()',500);
            }
            
            function checkTime(i){
                if (i<10){
                    i="0" + i;
                }
                return i;
            }
        </script>
        
        <script language="JavaScript" type="text/javascript">
            function InserirData(){
            var today=new Date();
            var d=today.getDate();
            var mo=today.getMonth();
            var y=today.getFullYear();
            // adiciona um zero na frente de números<10
            d=checkTime(d);
            mo=mo+1;
            mo=checkTime(mo);
            var TODAY = d+"/"+mo+"/"+y;
            form.datacad.value = TODAY;
            }
        </script>
    </head>
    
     <script type="text/javascript">
         $(document).ready(function(){
            $("input.data").mask("99/99/9999");
        });
    </script>
    
    <body onload="startTime(); return InserirData()">
         <div>
            <img class="media-object" src="~/images/logo.png" width="34%" height="210px" id="imgLogo" style="margin-top: 0.7%; margin-left: 0.7%">
            <div class="text text-danger" id="hora" style="font-size: 300%; margin-top: -13%;margin-right: 2%" align="right"></div>
           
            <div style="margin-right: 0.5%" align="right">
                <input class="btn btn-lg btn-info" type="button" style="width: 10.8%" value="Página inicial" onclick="location.href='condominos.cshtml'">
            </div>
             
            <div class="text text-info" style="margin-top: 5.7%; margin-left: 0.7%">Usuário: </div>
            <div class="text text-info" style="margin-left: 0.7%"><BR>Nome: </BR></div>
            <div class="text text-info" style="margin-left: 0.7%"><BR>Data: <a class="text text-info" id="data"></a></BR></div>
             
            <div style="margin-left: 0.7%">
                <br>
                <input class="btn btn-sm btn-danger" type="button" style="width: 11%" value="Sair">
                <br>
                <input class="btn btn-sm btn-info" type="button" style="width: 11%; margin-top: 0.5%" value="Configuração" onclick="location.href='configuracaocond.html'">
            </div>
             
            <div class="container-fluid" style="margin-top: -26.2%; margin-left: 13%; width: 76%">
                <div class="text text-info" align="center">
                    <h1>Documentos</h1><br>
                </div>
                
                <div class="text text-info">
                    <h4>Lista de documentos</h4>
                </div>
                
                <hr>                
                <form accept-charset="UTF-8" name="form" role="form" method="get" action="">
                   <div class="form-group col-md-12">
                        <label for="documentos" class="text text-info" style="font-size: 130%; margin-left: 1.5%">Documentos</label>
                        <div class="panel panel-default col-md-offset-12" style="overflow-x: scroll; overflow-y: scroll; word-break: keep-all; height: 500px">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col" style="align-items: center" nowrap="nowrap" width="10%"></th>
                                        <th scope="col" style="text-align: center" nowrap="nowrap">Nome do documento</th>
                                        <th scope="col" style="text-align: center" nowrap="nowrap">Resumo do conteúdo</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td id="baixar" name="baixar" nowrap="nowrap"><input class="btn btn-sm btn-info" style="width: 100%" type="submit" value="Baixar"></td>
                                        <td id="nomedoc" name="nomedoc" nowrap="nowrap"></td>
                                        <td id="resconteudo" name="resconteudo" nowrap="nowrap"></td>
                                    </tr>
                                </tbody>
                            </table>                        
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </body>
</html>