
@{
    ViewData["Title"] = "Login";
}

@model LoginViewModelo
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
</head>
<body>

    <div class="form-group" align="center">
        <img src="~/images/logo.png" class="media-object" width="40%" height="250px" id="imgLogo" style="margin-top: 1%">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="margin-left: 33.2%">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" method="post" asp-action="Login" asp-controller="Home">
                            <div asp-validation-summary="All"></div>

                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input class="form-control" asp-for="Email" placeholder="Login">
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Senha"></label>
                                    <input class="form-control" asp-for="Senha" placeholder="Senha">
                                    <span asp-validation-for="Senha"></span>
                                </div>
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" type="checkbox"> Salvar e-mail e senha
                                        <span asp-validation-for="RememberMe"></span>
                                    </label>
                                </div>
                                <input class="btn btn-lg btn-info btn-block" type="submit" value="Entrar">
                                <input class="btn btn-lg btn-danger btn-block" type="submit" value="Cancelar">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>